HTML, BODY {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

/* Planetario demo */

#planetarioDemo {
    background: #000000;
}

#planetarioDemo DIV {
    opacity: 0.5;
    width:100%;
    height:100%;
    left:0;
    top:0;
    position:absolute;
    z-index: -1;
    background: #000000 url(images/space-bg.jpg) 0 0 no-repeat;
}